.checkbox {
  position: relative;
  z-index: 1;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  margin-right: 0.6rem;
  border-width: 2px;
  border-style: solid;
  border-color: #d1d5db;
  background: transparent;
  cursor: pointer;
}

.checkbox[data-checked] {
  background: white !important;
}

.checkbox svg {
  stroke: black;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.checkbox[data-checked] svg {
  opacity: 1;
}

.checkbox:focus {
  outline: none;
}

.checkbox:focus::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgb(from var(--color-dark-500) r g b / 30%);
  animation: focusCircle 0.3s forwards;
}

@keyframes focusCircle {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.checkbox:hover::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgb(from var(--color-dark-300) r g b / 30%);
  animation: focusCircle 0.3s forwards;
}

.checkbox:hover {
  background: transparent;
}

.checkbox:active::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgb(from var(--color-dark-100) r g b / 30%);
  animation: focusCircle 0.3s forwards;
}

.checkbox:active {
  background: white;
}

.checkbox[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.checkbox[data-disabled][data-checked] {
  background: var(--color-dark-100);
}

.checkbox[data-disabled] svg {
  stroke: #9ca3af;
}
