@import '@fontsource/inter';
@import '@fontsource/roboto';
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-roboto: 'Roboto', system-ui, sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-inter);
    color: #fff;
    background-color: var(--color-dark-700);
    min-height: 100vh;
  }
}
