.test-sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  position: absolute;
  content: '';
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
